body {
    background-color: rgb(0, 143, 228);
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    background-color: white;
    font-weight: bold;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 500px;
    height: auto;
    padding: 0;
    margin: 0;
}

ul {
    display: flex;
    list-style: none;
    padding-right: 8px;
}

li {
    padding-left: 8px;
    padding-right: 8px;
}

a {
    text-decoration: none;
    color: black;
}

.intro {
    background-color: white;
    padding: 8px 180px 16px 180px;
    display: flex;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}

.learnmore {
    width: 100px;
    padding: 6px;
    background-color: rgb(0, 143, 228);
    color: white;
    border: none;
    border-radius: 4px;
}

.headshot {
    width: 250px;
    height: 250px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,.4);
}

.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    margin: 16px 32px 32px 32px;
}

.icons {
    width: 200px;
    height: auto;
    border-radius: 6px;
    margin: 4px 16px 16px 16px;
}

.quote {
    background-color: gainsboro;
    padding: 48px 180px;
}

.sign-up {
    background-color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: rgb(0, 143, 228);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 80px;
    border-radius: 6px;
}

.sign-upbutton {
    border: 1px solid white;
    border-radius: 4px;
    padding: 4px 20px;
    background-color: rgb(0, 143, 228);
    color: white;
    margin-left: 64px;
}

.footer {
    background-color: rgb(0, 143, 228);
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}