body {
    background-color: rgb(0, 143, 228);
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: white;
    font-weight: bold;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 500px;
    height: auto;
    padding: 0;
    margin: 0;
}

ul {
    display: flex;
    list-style: none;
    padding-right: 8px;
}

li {
    padding-left: 8px;
    padding-right: 8px;
}

a {
    text-decoration: none;
    color: black;
}

.intro {
    background-color: white;
    padding: 16px;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.icons {
    width: 250px;
    height: auto;
    border-radius: 6px;
    margin: 16px;
}
